<footer class="footer">
  <!-- Liens légaux -->
  <div class="footer-links">
    <a href="#" class="footer-link">Conditions générales de vente</a>
    <a href="#" class="footer-link">Politique de confidentialité</a>
    <a href="#" class="footer-link">Politique de cookies</a>
    <a href="#" class="footer-link">Mentions légales</a>
    <a href="#" class="footer-link">Nous contacter</a>
  </div>

  <!-- Réseaux sociaux -->
  <div class="footer-social">
    <a href="https://www.instagram.com/urban.heritagee/" class="social-icon" aria-label="Instagram">
      <img src="assets/icons/footer/instagram.svg" alt="Instagram" />
    </a>
    <a href="#" class="social-icon" aria-label="Tiktok">
      <img src="assets/icons/footer/tiktok.svg" alt="TikTok" />
    </a>
    <a href="#" class="social-icon" aria-label="Twitter">
      <img src="assets/icons/footer/twitter.svg" alt="Twitter" />
    </a>
    <a href="#" class="social-icon" aria-label="YouTube">
      <img src="assets/icons/footer/youtube.svg" alt="YouTube" />
    </a>
  </div>
</footer>
