
<div class="auth-login-page container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
   
    <div class="col-lg-5 text-center left-side">
      <img src="assets/images/logo/logo.png" alt="UrbanHeritage Logo" />
      <p class="slogan">Le monde est à vous</p>
    </div>
   
    <div class="col-lg-5 right-side">
      <h2>Mot de passe oublié</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Adresse e-mail *"
        />
        <div class="text-end mb-3">
          <a routerLink="/connexion">Se connecter</a>
        </div>
        <button
          type="submit"
          class="btn btn-dark w-100"
          [disabled]="form.invalid"
        >
          Envoyer le lien
        </button>
        <div
          *ngIf="message"
          class="text-success mt-3 text-center"
        >
          {{ message }}
        </div>
        <div
          *ngIf="error"
          class="text-danger mt-3 text-center"
        >
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
