
<div class="row artist-section align-items-center my-5">

  <div class="col-12 mb-4 text-center">
    <h2 class="detail-title">Découvrez l'artiste</h2>
  </div>


  <div class="col-md-4 text-center">
    <img
      *ngIf="artiste?.url_image_artiste_1"
      [src]="artiste.url_image_artiste_1"
      [alt]="artiste.nom_artiste"
      class="img-fluid artist-img"
    />
  </div>


  <div class="col-md-8">
  
    <h4 class="artist-name mb-3">{{ artiste.nom_artiste }} {{ artiste.prenom_artiste }}</h4>

 
    <p class="artist-bio mb-4">{{ artiste.description_artiste_1 }}</p>

    <button
      *ngIf="artiste?.id_artiste"
      class="artist-button mb-4"
      [routerLink]="['/artiste', artiste.id_artiste]"
    >
      Visiter son profil
    </button>

  
    <div class="artist-social d-flex gap-3 mb-4">
      <a
        *ngIf="artiste.url_instagram_reseau_social"
        [href]="'https://instagram.com/' + artiste.url_instagram_reseau_social.replace('@','')"
        target="_blank" aria-label="Instagram" class="social-icon"
      >
        <img src="assets/icons/footer/instagram.svg" alt="Instagram" />
      </a>

      <a
        *ngIf="artiste.url_tiktok_reseau_social"
        [href]="'https://tiktok.com/' + artiste.url_tiktok_reseau_social.replace('@','')"
        target="_blank" aria-label="TikTok" class="social-icon"
      >
        <img src="assets/icons/footer/tiktok.svg" alt="TikTok" />
      </a>
    </div>

    <ul class="artist-stats list-unstyled d-flex flex-wrap gap-3">
      <li><strong>Pays&nbsp;:</strong> {{ artiste.pays_artiste }}</li>
    </ul>
  </div>
</div>
