<app-header></app-header>
<div class="profil-page">
    <aside class="profil-sidebar">
      <h2>Bonjour </h2>
      <p class="email"></p>
  
      <nav class="menu">
        <a href="#">Mes achats</a>
        <a href="#">Données personnelles</a>
        <a href="#">Adresses enregistrées</a>
        <a href="#" (click)="logout()">Se déconnecter</a>
      </nav>
    </aside>
  
    <main class="profil-content">
      <h3>Mes achats</h3>
      <!-- À venir : tes achats ici -->
    </main>
  </div>
  <app-footer></app-footer>