<section class="about-hero">

  <div class="about-left"></div>

  <div class="about-right">
    <h2 class="about-title">À propos de la marque</h2>
    <div class="about-text">
      <p>Chaque design puise à la fois dans la culture populaire et la scène underground du pays représenté, pour en révéler toute la richesse visuelle et symbolique.</p>
      <p>Urban Heritage s’inspire des esthétiques issues des rues, des terrains, des affiches, des graffitis et des icônes locales, qu’elles soient célèbres ou invisibles.</p>
    </div>
    <button routerLink="/engagements" class="btn-engagements">
      Nos engagements
    </button>
  </div>

</section>