<div class="auth-sidebar" [class.open]="authUi.isSidebarOpen$ | async">
  <button class="close-btn" type="button" (click)="toggleSidebar()">×</button>
  <div class="auth-content">
    <img src="assets/images/logo/logo.png" alt="logo UrbanHeritage" style="width: 120px; margin: 0 auto;" />
    <h2>Connecte-toi ou crée ton compte</h2>
    <!-- Connexion via Google -->
    <button type="button" class="google-btn">
      <img src="assets/icons/google.svg" alt="Google" />
      Continuer avec Google
    </button>
    <div class="divider"><span>ou</span></div>
    <!-- Connexion classique -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="E-mail" />
      <input type="password" formControlName="password" placeholder="Mot de passe" />
    <div class="options">
      <a [routerLink]="['/forgot-password']">Mot de passe oublié ?</a>
    </div>
      <button type="submit" class="submit-btn">Se connecter</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="signup-text">
      Tu n’as pas de compte ? <a [routerLink]="'/inscription'" (click)="authUi.closeSidebar()">Inscris-toi</a>
    </div>
  </div>
</div>