html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Montserrat', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

main {
  flex: 1;
}


.profil-page {
  margin-top:40px;
}
