<div class="auth-login-page container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-lg-5 text-center left-side">
      <img src="assets/images/logo/logo.png" alt="UrbanHeritage Logo" />
    </div>
    <div class="col-lg-5 right-side">
      <h2>Connexion</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input id="email-input"
              formControlName="email"
              class="form-control"
              placeholder="Adresse e-mail *" />
        <input id="password-input"
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Mot de passe *" />

        <div class="text-end mb-3">
          <a id="forgot-link" routerLink="/forgot-password" class="forgot-link">
            Mot de passe oublié ?
          </a>
        </div>

        <button id="submit-button"
                type="submit"
                class="btn btn-dark w-100"
                [disabled]="loginForm.invalid">
          Se connecter
        </button>
      </form>

      <div *ngIf="errorMessage" id="error-message" class="text-danger mt-3 text-center">
        {{ errorMessage }}
      </div>

      <!-- Renvoyer le lien -->
      <div *ngIf="showResend" class="text-center mt-3">
        <button id="resend-button" class="btn btn-link" (click)="onResend()">
          Renvoyer le lien d’activation
        </button>
      </div>

      <div class="already mt-3 text-center">
        Pas encore de compte ? <a id="signup-link" routerLink="/inscription">Inscris-toi</a>
      </div>

    </div>
  </div>
</div>
